body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#game-container {
    display: flex;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    min-height: 98dvh;
    /* background-color: black; */
}