body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    background-color: black;
    cursor: pointer;
}

#menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-container button {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

}

.hidden {
    display: none;
}

.loading-text {
    font-size: 1rem;
    color: aliceblue;
    margin-top: 1rem;
}